@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

h1 {
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 3;
    color: #fff;
    font-family: inherit;
    position: relative;
    text-align: center;

}
h2 {
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 2;
    color: #fff;
    font-family: inherit;
    position: relative;
    text-align: center;

}
body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
    

header {
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}
    
.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    justify-content: flex-end;
}

.search:focus {
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder {
    color: #7378c5;
}
        
main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
        
.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}
        

.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
    
.movie-info h3{
    margin-top: 0;
}
    
.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}
    
.movie-info span.orange{
    color: orange;
}
    
.movie-info span.red{
    color: red;
}
    
.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translatey(101%);
    transition:transform 0.3s ease-in;
}   

.movie:hover .overview{
    transform: translatey(0)

}

.header__nav {
    display: flex;
    justify-content: space-around; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.header__nav li {
    margin-left: 1rem;
}

.header__nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.header__nav a:hover {
    background-color: #555;
}

.error {
    color: #ff0800;
    font-size: 200%;
  background-color: #ffffff;
  padding: 73px;
  border: 10px solid #000000;
  border-radius: 29px;
  margin-top: 15px;
  text-align: center;
}

footer{
    padding: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}